html, body {
    height: 100vh;
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $WHITE;
    color: $BLACK;
    font-family: Avenir;
}
